@model Bakiye_Kontrol.Models.Entity.Kasa

@{
    ViewBag.Title = "Delete";
}


<div>
    <h4 style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size:x-large ;color:brown">Kasa</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Kasa Kodu
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KasaKodu)
        </dd>

        <dt>
            Kasa Adı
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KasaAdi)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

<div class="form-actions no-color">
    <input type="submit" value="Sil" class="btn btn-info" />
    @Html.ActionLink("VAZGEÇ", "Index", null, new { id = "OT", @class = "btn btn-danger" })
</div>
    }
</div>
