@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="container mt-3">
        <h2 style="font-family:'Bookman Old Style';color:darkseagreen;text-align:center">...Banka Hareket Yönetim Sistemine Hoşgeldiniz...</h2>
        <img style="border-radius:13vh;background-repeat:no-repeat;background-attachment:fixed" class="img-fluid" src="~/Media/banka2.jpg" alt="Banka" width="1000" height="500">
    </div>
</div>